<div class="row">
  <div class="col-md-12">
    <div class="portlet light ">
      <div class="portlet-title">
        <div class="caption font-red-sunglo">
          <i class="icon-settings font-red-sunglo"></i>
          <span class="caption-subject bold uppercase"> Add New Project</span>
        </div>
      </div>
      <div class="portlet-body form">
        <%= form_for(@project ) do |f| %>
            <div class="form-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="control-label">Project Name</label>
                    <div class="input-group">
                      <span class="input-group-addon">
                       <i class="fa fa-user"></i>
                     </span>
                      <%= f.text_field :name , class: "form-control", placeholder: "Project Name" , required: true %>
                    </div>
                  </div>
                </div>

                <!--/span-->
                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="control-label">Client Name</label>
                    <div class="input-group">
                      <span class="input-group-addon">
                         <i class="fa fa fa-user"></i>
                       </span>
                      <%= f.text_field :client_name , class: "form-control", placeholder: "Client Name", required: true %>
                    </div>

                  </div>
                </div>
                <!--/span-->
              </div>

              <div class="row">

                <div class="col-md-6">
                  <div class="form-group">
                    <label>Description</label>
                    <div class="input-group">
                      
                      <span class="input-group-addon">
                        <i class="fa fa-envelope"></i>
                      </span>
                      
                      <%= f.text_area :description ,  class: "form-control",placeholder: "Description" %>

                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group ">
                    <label class="control-label">Technology</label>
                    <div class="input-group">
                      <span class="input-group-addon">
                         <i class="fa fa fa-user"></i>
                       </span>
                      <%= f.text_field :technology , class: "form-control", placeholder: "Client Name" %>
                    </div>

                  </div>
                </div>

              </div>
            
            </div>
            
            <div class="form-actions">
              <button type="submit" class="btn blue">Submit</button>
              <button type="button" class="btn default">Cancel</button>
            </div>

        <% end %>
      
      </div>
    
    </div>

  </div>
</div>