<div class="row">
  <div class="col-md-12">

    <div class="portlet light ">
      
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-users font-green"></i>
          <span class="caption-subject font-green sbold uppercase"> Projects </span>
        </div>
      </div>
      
      <div class="portlet-body">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover">
            <thead>
              <tr role="row" class="heading">                
                <th> Name </th>
                <th> Client Name </th>
                <th> Description </th>
                <th> Technology </th> 
                <th> Created At </th>                
              </tr>
            </thead>
            <tbody>
              <% @projects.each do |project| %>
                <tr>                  
                  <td> <%= project.name %> </td>
                  <td> <%= project.client_name %> </td>
                  <td> <%= project.description %> </td>
                  <td> <%= project.technology %> </td>
                  <td> <%= project.created_at.strftime("%b %d, %Y") if project.created_at.present? %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
        
        <%= will_paginate(
          @projects,
          renderer: BootstrapPagination::Rails,
          previous_label: "<<", 
          next_label: ">>"
        ) if @projects.present? %>
      
      </div>
    </div>
  </div>
</div>