<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <div class="page-sidebar navbar-collapse collapse">
      <!-- BEGIN SIDEBAR MENU -->
    <ul class="page-sidebar-menu" data-auto-scroll="true" data-slide-speed="200">
        <li class="start <%= active_icon_with_action("homes" , "dashboard") %>">
            <a href="/">
              <i class="icon-home"></i>
              <span class="title">Dashboard</span>
              <span class="selected"></span>
            </a>
        </li>
        <li class="<%= active_icon("projects") %> nav-item">
          <a href="javascript:;" class="nav-link nav-toggle">
            <i class="icon-note"></i>
            <span class="title">Projects</span>
            <span class="arrow "></span>
          </a>
          <ul class="sub-menu">
            <li class="nav-item <%= add_class_active_and_open_for_action('projects', 'index') %>">
              <a href="<%= projects_path %>">
                <i class="icon-list"></i>
                All Projects
              </a>
            </li>
            
            <li class="nav-item <%= add_class_active_and_open_for_action('projects', 'new') %>">
                <a href="<%= new_project_path %>">
                  <i class="icon-plus"></i>
                  Add New Project
                </a>
            </li>
                        
          </ul>
        </li>        
    </ul>
      <!-- END SIDEBAR MENU -->
  </div>
</div>
<!-- END SIDEBAR -->